@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Pacifico", cursive;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/top-view-tasty-pizza-wooden-background.jpg);
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.deal-of-day {
  padding-top: 20rem;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

#pizza-menu {
  font-size: 25px;
}

option {
  font-size: 15px;
}

.fa-chevron-up,
.fa-chevron-down {
  cursor: pointer;
}

table {
  background: rgba(233, 241, 233, 0.6);
}
.order-details,
.delivery-cost {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
